@model Ejemplo_importante.datos.Dto.CategoryDto

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Detalles de la Categoría</title>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="details-container">
        <h2 class="details-title">Detalles de la Categoría</h2>

        <div class="details-content">
            <h4>Categoría</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>@Model.CategoryId</dd>

                <dt>Nombre</dt>
                <dd>@Model.CategoryName</dd>

                <dt>Descripción</dt>
                <dd>@Model.Description</dd>
            </dl>
        </div>

        <div class="details-actions">
            @Html.ActionLink("Editar", "Edit", new { id = Model.CategoryId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</body>
</html>