@model Ejemplo_importante.datos.Dto.CategoryDto
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lista de Categorías</title>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Editar Categoría</h2>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Categoría</h4>
                    <hr />
                    @Html.HiddenFor(model => model.CategoryId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 5 })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>}

    <p>
        @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-default" })
    </p>

</body>
</html>